<?xml version="1.0" encoding="UTF-8"?>
<workflow xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/workflow.xsd" version="1.1">
{% if workflow_shape == 'inline' -%}
<!--Define Properties for Templates-->
	<properties>
		<!-- NWP Name-->
		<string key="FORECAST" value="{{ nwp_name }}"/>
		<!-- NWP Timestep-->
		<string key="TIMESTEP" value="{{ time_step_hours }}"/>
		<!-- Expiry Timestep-->
		<string key="EXPIRYTIME" value="{{ expiry_time_days }}"/>
		<!-- Input Grid-->
		<string key="INPUTGRID" value="{{ nwp_name }}"/>
		<!-- Output Grid-->
		<string key="OUTPUTGRID" value="$MODELNAME1$Grid"/>
		<!-- Module Instance ID to be given to  Timeseries-->
		<string key="INPUTMODULEINSTANCE" value="Import{{ nwp_name }}"/>
		<!-- EnsembleID if needed-->
		<string key="ENSEMBLE" value="main"/>
		<!--Basin Location-->
		<string key="BASINLOCATIONS" value="$MODELNAME1$Basins"/>
		<!--Station Locations-->
		<string key="STATIONLOCATIONS" value="ECCCStations$REGION$"/>
		<!--Time Series Type-->
		<string key="TIMESERIESTYPE" value="external forecasting"/>
	</properties>
<!-- Retrieve NWP grids from Environment Canada -->
	<activity>
		<runIndependent>true</runIndependent>
		<moduleInstanceId>Import{{ nwp_name }}</moduleInstanceId>
	</activity>
	<!-- Preprocess Precipitation-->
	<activity>
		<properties>
			<string key="PARAMETER" value="PC.nwp"/>
		</properties>
		<runIndependent>true</runIndependent>
		<moduleInstanceId>Preprocess{{ nwp_name }}</moduleInstanceId>
		<moduleConfigFileName>PreprocessAccumulatedParametersNWPTemplate</moduleConfigFileName>
	</activity>
		<!-- Accumulate Precipitation-->
		<activity>
		<properties>
			<string key="LOCATIONSET" value="$MODELNAME1$Basins"/>
			<string key="INPUTMODULEINSTANCE" value="Preprocess{{ nwp_name }}"/>
		</properties>
		<runIndependent>true</runIndependent>
		<moduleInstanceId>Preprocess{{ nwp_name }}</moduleInstanceId>
		<moduleConfigFileName>AccumulateForecastPrecipTemplate</moduleConfigFileName>
	</activity>
	<!-- Preprocess Temperature-->
	<activity>
		<properties>
			<string key="PARAMETER" value="TA.nwp"/>
		</properties>
		<runIndependent>true</runIndependent>
		<moduleInstanceId>Preprocess{{ nwp_name }}</moduleInstanceId>
		<moduleConfigFileName>PreprocessInstantaneousParametersNWPTemplate</moduleConfigFileName>
	</activity>
{%- elif workflow_shape == 'delegated' -%}
	<!--Define Properties for Templates-->
	<properties>
		<!-- NWP Name-->
		<string key="FORECAST" value="{{ nwp_name }}"/>
		<!-- NWP Timestep-->
		<string key="TIMESTEP" value="{{ time_step_hours }}"/>
		<!-- Expiry Timestep-->
		<string key="EXPIRYTIME" value="{{ expiry_time_days }}"/>
		<!-- Input Grid-->
		<string key="INPUTGRID" value="{{ nwp_name }}"/>
		<!-- Output Grid-->
		<string key="OUTPUTGRID" value="$MODELNAME1$Grid"/>
		<!-- Module Instance ID to be given to  Timeseries-->
		<string key="INPUTMODULEINSTANCE" value="Import{{ nwp_name }}"/>
		<!-- EnsembleID if needed-->
		<string key="ENSEMBLE" value="main"/>
		<!--Basin Location-->
		<string key="BASINLOCATIONS" value="$MODELNAME1$Basins"/>
		<!--Station Locations-->
		<string key="STATIONLOCATIONS" value="ECCCStations$REGION$"/>
		<!--Time Series Type-->
		<string key="TIMESERIESTYPE" value="external forecasting"/>
	</properties>
	<!-- Retrieve NWP grids from Environment Canada -->
	<activity>
		<runIndependent>true</runIndependent>
		<moduleInstanceId>Import{{ nwp_name }}</moduleInstanceId>
	</activity>
	<!-- Preprocess Forecast for Model -->
	<activity>
		<workflowId>Preprocess{{ nwp_name }}$MODELNAME1$</workflowId>
	</activity>
	<!-- Preprocess Forecast for Model -->
	<activity>
		<workflowId>Preprocess{{ nwp_name }}$MODELNAME2$</workflowId>
	</activity>
{%- endif %}
</workflow>
