<timeSeriesImportRun xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/timeSeriesImportRun.xsd">
	<import>
		<general>
			<importType>CanadaMeteoWCS</importType>
			<serverUrl>https://geo.weather.gc.ca/geomet?SERVICE=WCS&amp;VERSION=2.0.1&amp;REQUEST=GetCoverage</serverUrl>
			<relativeViewPeriod unit="hour" start="{{ start_lookback_hours }}" end="{{ forecast_horizon_hours }}" startOverrulable="true" endOverrulable="true"/>
			<idMapId>IdImportCanadaWCS</idMapId>
		</general>
		<startTimeShift>
			<parameterId>PC.nwp</parameterId>
			<relativePeriod start="-{{ start_lookback_hours }}" end="0" unit="hour"/>
		</startTimeShift>
		<properties>
			<{{ subset_property_kind }} key="{{ subset_property_key }}" value="{{ subset_property_value }}"/>
		</properties>
		<timeSeriesSet>
			<moduleInstanceId>Import{{ nwp_name }}</moduleInstanceId>
			<valueType>grid</valueType>
			<parameterId>PC.nwp</parameterId>
			<locationId>{{ nwp_name }}</locationId>
			<timeSeriesType>external forecasting</timeSeriesType>
			<timeStep unit="hour" multiplier="{{ time_step_hours }}"/>
			<readWriteMode>add originals</readWriteMode>
		</timeSeriesSet>
		<externUnit parameterId="PC.nwp" unit="kg m-2" cumulativeSum="true"/>
	</import>
	<import>
		<general>
			<importType>CanadaMeteoWCS</importType>
			<serverUrl>https://geo.weather.gc.ca/geomet?SERVICE=WCS&amp;VERSION=2.0.1&amp;REQUEST=GetCoverage</serverUrl>
			<relativeViewPeriod unit="hour" start="0" end="{{ forecast_horizon_hours }}" startOverrulable="true" endOverrulable="true"/>
			<idMapId>IdImportCanadaWCS</idMapId>
		</general>
		<properties>
			<{{ subset_property_kind }} key="{{ subset_property_key }}" value="{{ subset_property_value }}"/>
		</properties>
		<timeSeriesSet>
			<moduleInstanceId>Import{{ nwp_name }}</moduleInstanceId>
			<valueType>grid</valueType>
			<parameterId>TA.nwp</parameterId>
			<locationId>{{ nwp_name }}</locationId>
			<timeSeriesType>external forecasting</timeSeriesType>
			<timeStep unit="hour" multiplier="{{ time_step_hours }}"/>
			<readWriteMode>add originals</readWriteMode>
		</timeSeriesSet>
		<externUnit parameterId="TA.nwp" unit="K"/>
	</import>
</timeSeriesImportRun>
