{%- import "_partials/timeseries_set.xml.j2" as tss -%}
<?xml version="1.0" encoding="UTF-8"?>
<forecastLengthEstimator xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/forecastLengthEstimator.xsd">
  {{ tss.render(externalForecastTimeSeries, tag="externalForecastTimeSeries") }}
  <minForecastLength unit="{{ minForecastLength.unit }}" multiplier="{{ minForecastLength.multiplier }}"/>
</forecastLengthEstimator>
