<?xml version="1.0" encoding="UTF-8"?>
<unitConversions xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/unitConversions.xsd">
{% for uc in unitConversion %}
  <unitConversion>
    <inputUnitType>{{ uc.inputUnitType }}</inputUnitType>
    <outputUnitType>{{ uc.outputUnitType }}</outputUnitType>
    {% if uc.multiplier is not none %}<multiplier>{{ uc.multiplier }}</multiplier>{% endif %}
    {% if uc.incrementer is not none %}<incrementer>{{ uc.incrementer }}</incrementer>{% endif %}
  </unitConversion>
{% endfor %}
</unitConversions>
