{%- import "_partials/timeseries_set.xml.j2" as tss -%}
<?xml version="1.0" encoding="UTF-8"?>
<validationRuleSets xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/validationRuleSets.xsd" version="{{ version }}">
{% for vrs in validationRuleSet %}
  <validationRuleSet validationRuleSetId="{{ vrs.validationRuleSetId }}"{% if vrs.timeZone is not none %} timeZone="{{ vrs.timeZone }}"{% endif %}>
    {% if vrs.extremeValues is not none %}
    <extremeValues>
      {% if vrs.extremeValues.hardMax is not none %}<hardMax constantLimit="{{ vrs.extremeValues.hardMax.constantLimit }}"/>{% endif %}
      {% if vrs.extremeValues.hardMin is not none %}<hardMin constantLimit="{{ vrs.extremeValues.hardMin.constantLimit }}"/>{% endif %}
      {% if vrs.extremeValues.softMax is not none %}<softMax constantLimit="{{ vrs.extremeValues.softMax.constantLimit }}"/>{% endif %}
      {% if vrs.extremeValues.softMin is not none %}<softMin constantLimit="{{ vrs.extremeValues.softMin.constantLimit }}"/>{% endif %}
    </extremeValues>
    {% endif %}
    {% for ts in vrs.timeSeriesSet %}
    {{ tss.render(ts) }}
    {% endfor %}
  </validationRuleSet>
{% endfor %}
</validationRuleSets>
