{%- macro render(a) -%}
<attribute{% if a.id is not none %} id="{{ a.id }}"{% endif %}{% if a.name is not none %} name="{{ a.name }}"{% endif %}>
      {%- if a.description is not none %}
      <description>{{ a.description }}</description>
      {%- endif %}
      {%- if a.text is not none %}
      <text>{{ a.text }}</text>
      {%- for ev in a.enumerationValue %}
      <enumerationValue>{{ ev }}</enumerationValue>
      {%- endfor %}
      {%- if a.regularExpression is not none %}
      <regularExpression>{{ a.regularExpression }}</regularExpression>
      {%- endif %}
      {%- elif a.number is not none %}
      <number>{{ a.number }}</number>
      {%- elif a.boolean is not none %}
      <boolean>{{ a.boolean }}</boolean>
      {%- else %}
      <dateTime>{{ a.dateTime }}</dateTime>
      {%- endif %}
      {%- if a.required is not none %}
      <required>{{ 'true' if a.required else 'false' }}</required>
      {%- endif %}
    </attribute>
{%- endmacro -%}
