{%- import "_partials/properties_body.xml.j2" as props -%}
{%- macro param_data(d) -%}
{%- if d.booleanData is not none -%}
<booleanData{% if d.booleanData.allowAdjust is not none %} allowAdjust="{{ 'true' if d.booleanData.allowAdjust else 'false' }}"{% endif %}>{{ 'true' if d.booleanData.value else 'false' }}</booleanData>
{%- elif d.intData is not none -%}
<intData maxVal="{{ d.intData.maxVal }}" minVal="{{ d.intData.minVal }}"{% if d.intData.allowAdjust is not none %} allowAdjust="{{ 'true' if d.intData.allowAdjust else 'false' }}"{% endif %}{% if d.intData.stepSize is not none %} stepSize="{{ d.intData.stepSize }}"{% endif %}>{{ d.intData.value }}</intData>
{%- elif d.doubleData is not none -%}
<doubleData maxVal="{{ d.doubleData.maxVal | xmlstr }}" minVal="{{ d.doubleData.minVal | xmlstr }}"{% if d.doubleData.allowAdjust is not none %} allowAdjust="{{ 'true' if d.doubleData.allowAdjust else 'false' }}"{% endif %}{% if d.doubleData.stepSize is not none %} stepSize="{{ d.doubleData.stepSize | xmlstr }}"{% endif %}>{{ d.doubleData.value | xmlstr }}</doubleData>
{%- else -%}
<stringData>{{ d.stringData }}</stringData>
{%- endif -%}
{%- endmacro -%}
{%- macro config_files(c) -%}
<configFiles>
    {%- if c.moduleParameterFiles is not none %}
    <moduleParameterFiles>
      {%- for f in c.moduleParameterFiles.moduleParameterFile %}
      <moduleParameterFile name="{{ f.name }}" version="{{ f.version }}"/>
      {%- endfor %}
    </moduleParameterFiles>
    {%- endif %}
    {%- if c.moduleDataSetFiles is not none %}
    <moduleDataSetFiles>
      {%- for f in c.moduleDataSetFiles.moduleDataSetFile %}
      <moduleDataSetFile name="{{ f.name }}" version="{{ f.version }}"/>
      {%- endfor %}
    </moduleDataSetFiles>
    {%- endif %}
    {%- if c.hideModuleDataSetFilesPanel %}
    <hideModuleDataSetFilesPanel/>
    {%- endif %}
    {%- if c.moduleParameters is not none %}
    <moduleParameters id="{{ c.moduleParameters.id }}">
      {%- if c.moduleParameters.description is not none %}
      <description>{{ c.moduleParameters.description }}</description>
      {%- endif %}
      {%- for p in c.moduleParameters.param %}
      <param{% if p.id is not none %} id="{{ p.id }}"{% endif %}>
        <name>{{ p.name }}</name>
        <data>
          {{ param_data(p.data) }}
        </data>
        {%- if p.comment is not none %}
        <comment>{{ p.comment }}</comment>
        {%- endif %}
      </param>
      {%- endfor %}
    </moduleParameters>
    {%- endif %}
    {%- if c.hideModuleParameterFilesPanel %}
    <hideModuleParameterFilesPanel/>
    {%- endif %}
    {%- if c.piModelParametersContent is not none %}
    <piModelParametersContent>{{ c.piModelParametersContent }}</piModelParametersContent>
    {%- endif %}
  </configFiles>
{%- endmacro -%}
{%- macro body(s) -%}
{%- if s.description is not none %}
  <description>{{ s.description }}</description>
  {%- endif %}
  {%- if s.properties is not none %}
  <properties>
  {{ props.body(s.properties) }}
  </properties>
  {%- endif %}
  {%- if s.transformationSets is not none %}
  <transformationSets version="1.1">{{ s.transformationSets | dict_to_xml | safe }}</transformationSets>
  {%- endif %}
  {%- if s.configFiles is not none %}
  {{ config_files(s.configFiles) }}
  {%- endif %}
  {%- if s.locationSelection is not none %}
  <locationSelection>
    {%- for lid in s.locationSelection.locationId %}
    <locationId>{{ lid }}</locationId>
    {%- endfor %}
  </locationSelection>
  {%- endif %}
  {%- if s.polygonSelection is not none %}
  <polygonSelection>
    {%- if s.polygonSelection.areaSelectionShapeFileBase64 is not none %}
    <areaSelectionShapeFileBase64>{{ s.polygonSelection.areaSelectionShapeFileBase64 }}</areaSelectionShapeFileBase64>
    {%- endif %}
  </polygonSelection>
  {%- endif %}
  {%- if s.isPersistent is not none %}
  <isPersistent>{{ 'true' if s.isPersistent else 'false' }}</isPersistent>
  {%- endif %}
  {%- if s.isVisible is not none %}
  <isVisible>{{ 'true' if s.isVisible else 'false' }}</isVisible>
  {%- endif %}
  {%- if s.isPendingDeletion is not none %}
  <isPendingDeletion>{{ 'true' if s.isPendingDeletion else 'false' }}</isPendingDeletion>
  {%- endif %}
  {%- if s.workflowId is not none %}
  <workflowId>{{ s.workflowId }}</workflowId>
  {%- endif %}
  {%- if s.visibilityEndTime is not none %}
  <visibilityEndTime date="{{ s.visibilityEndTime.date }}"{% if s.visibilityEndTime.time is not none %} time="{{ s.visibilityEndTime.time }}"{% endif %}/>
  {%- endif %}
{%- endmacro -%}
