<?xml version="1.0" encoding="UTF-8"?>
<modelRunPeriod version="{{ version }}" xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/modelRunPeriod.xsd">
  <period>
    <startDate>{{ period.startDate }}</startDate>
    <endDate>{{ period.endDate }}</endDate>
  </period>
</modelRunPeriod>
