<?xml version="1.0" encoding="UTF-8"?>
<annotationDisplay xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/annotationDisplay.xsd">
  {% if createPermission is not none %}<createPermission>{{ createPermission }}</createPermission>{% endif %}
  {% if editPermission is not none %}<editPermission>{{ editPermission }}</editPermission>{% endif %}
  {% if deletePermission is not none %}<deletePermission>{{ deletePermission }}</deletePermission>{% endif %}
</annotationDisplay>
