<?xml version="1.0" encoding="UTF-8"?>
<forecasterNotesDisplay xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/forecasterNotesDisplay.xsd">
  {% if title is not none %}<title>{{ title }}</title>{% endif %}
{% for mt in msgTemplate %}
  <msgTemplate id="{{ mt.id }}">
    <message>{{ mt.message }}</message>
  </msgTemplate>
{% endfor %}
{% for ec in eventCode %}
  <eventCode id="{{ ec.id }}"/>
{% endfor %}
</forecasterNotesDisplay>
