{%- import "_partials/forecaster_notes_elements.xml.j2" as fn -%}
<?xml version="1.0" encoding="UTF-8"?>
<forecasterNotesDisplay xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/forecasterNotesDisplay.xsd">
  <title>{{ title }}</title>
  {{ fn.body(_root) }}
  {%- if deletePermission is not none %}
  <deletePermission>{{ deletePermission }}</deletePermission>
  {%- endif %}
</forecasterNotesDisplay>
