{%- macro emit_level(lvl, tag) -%}
<{{ tag }} id="{{ lvl.id }}"{% if lvl.name is not none %} name="{{ lvl.name }}"{% endif %}>
    <color>{{ lvl.color }}</color>
    {% if lvl.iconName is not none %}<iconName>{{ lvl.iconName }}</iconName>{% endif %}
    {% if lvl.historicOverlayIconName is not none %}<historicOverlayIconName>{{ lvl.historicOverlayIconName }}</historicOverlayIconName>{% endif %}
    {% if lvl.forecastOverlayIconName is not none %}<forecastOverlayIconName>{{ lvl.forecastOverlayIconName }}</forecastOverlayIconName>{% endif %}
  </{{ tag }}>
{%- endmacro -%}
<?xml version="1.0" encoding="UTF-8"?>
<thresholdWarningLevels xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.wldelft.nl/fews" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/thresholdWarningLevels.xsd">
{% if missingDataThreshold is not none %}
  {{ emit_level(missingDataThreshold, 'missingDataThreshold') }}
{% endif %}
{% for lvl in thresholdWarningLevel %}
  {{ emit_level(lvl, 'thresholdWarningLevel') }}
{% endfor %}
</thresholdWarningLevels>
