<?xml version="1.0" encoding="UTF-8"?>
<thresholdGroups xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/thresholds.xsd">
  {% if eventExpiryTime is not none %}<eventExpiryTime unit="{{ eventExpiryTime.unit }}" multiplier="{{ eventExpiryTime.multiplier }}"/>{% endif %}
  {% if maxActionEventDuration is not none %}<maxActionEventDuration unit="{{ maxActionEventDuration.unit }}" multiplier="{{ maxActionEventDuration.multiplier }}"/>{% endif %}
  {% if forecastAvailableThreshold is not none %}
  <forecastAvailableThreshold id="{{ forecastAvailableThreshold.id }}"{% if forecastAvailableThreshold.name is not none %} name="{{ forecastAvailableThreshold.name }}"{% endif %}>
    {% if forecastAvailableThreshold.intId is not none %}<intId>{{ forecastAvailableThreshold.intId }}</intId>{% endif %}
  </forecastAvailableThreshold>
  {% endif %}
{% for g in thresholdGroup %}
  <thresholdGroup id="{{ g.id }}"{% if g.name is not none %} name="{{ g.name }}"{% endif %}>
    {% if g.defaultThreshold is not none %}<defaultThreshold shortName="{{ g.defaultThreshold.shortName }}"/>{% endif %}
    {% for lt in g.levelThreshold %}
    <levelThreshold id="{{ lt.id }}"{% if lt.name is not none %} name="{{ lt.name }}"{% endif %}{% if lt.shortName is not none %} shortName="{{ lt.shortName }}"{% endif %}>
      <upWarningLevelId>{{ lt.upWarningLevelId }}</upWarningLevelId>
    </levelThreshold>
    {% endfor %}
  </thresholdGroup>
{% endfor %}
</thresholdGroups>
