<?xml version="1.0" encoding="UTF-8"?>
<whatIfScenariosDescriptors version="{{ version }}" xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/whatIfScenariosDescriptors.xsd">
{% for d in whatIfScenariosDescriptor %}
  <whatIfScenariosDescriptor id="{{ d.id }}"{% if d.name is not none %} name="{{ d.name }}"{% endif %}>
    {% if d.description is not none %}<description>{{ d.description }}</description>{% endif %}
  </whatIfScenariosDescriptor>
{% endfor %}
</whatIfScenariosDescriptors>
