<?xml version="1.0" encoding="UTF-8"?>
<workflowDescriptors xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/workflowDescriptors.xsd" version="{{ version }}">
{% for w in workflowDescriptor -%}
{%- set has_body = w.description is not none or w.cardinalTimeStep is not none -%}
{%- if has_body %}
  <workflowDescriptor id="{{ w.id }}"{% if w.name is not none %} name="{{ w.name }}"{% endif %}{% if w.visible is not none %} visible="{{ 'true' if w.visible else 'false' }}"{% endif %}{% if w.forecast is not none %} forecast="{{ 'true' if w.forecast else 'false' }}"{% endif %}{% if w.autoApprove is not none %} autoApprove="{{ 'true' if w.autoApprove else 'false' }}"{% endif %}{% if w.allowApprove is not none %} allowApprove="{{ 'true' if w.allowApprove else 'false' }}"{% endif %}>
    {% if w.description is not none %}<description>{{ w.description }}</description>{% endif %}
    {%- if w.cardinalTimeStep is not none %}
    {%- if w.cardinalTimeStep.id is not none %}
    <cardinalTimeStep id="{{ w.cardinalTimeStep.id }}"/>
    {%- else %}
    <cardinalTimeStep{% if w.cardinalTimeStep.unit is not none %} unit="{{ w.cardinalTimeStep.unit }}"{% endif %}{% if w.cardinalTimeStep.multiplier is not none %} multiplier="{{ w.cardinalTimeStep.multiplier }}"{% endif %}{% if w.cardinalTimeStep.timeZone is not none %} timeZone="{{ w.cardinalTimeStep.timeZone }}"{% endif %}/>
    {%- endif %}
    {%- endif %}
  </workflowDescriptor>
{%- else %}
  <workflowDescriptor id="{{ w.id }}"{% if w.name is not none %} name="{{ w.name }}"{% endif %}{% if w.visible is not none %} visible="{{ 'true' if w.visible else 'false' }}"{% endif %}{% if w.forecast is not none %} forecast="{{ 'true' if w.forecast else 'false' }}"{% endif %}{% if w.autoApprove is not none %} autoApprove="{{ 'true' if w.autoApprove else 'false' }}"{% endif %}{% if w.allowApprove is not none %} allowApprove="{{ 'true' if w.allowApprove else 'false' }}"{% endif %}/>
{%- endif %}
{% endfor %}
  {% if rootNode is not none %}
  <rootNode>
    {% for n in rootNode.node %}
    <node name="{{ n.name }}">
      {% for wid in n.workflowId %}<workflowId>{{ wid }}</workflowId>{% endfor %}
    </node>
    {% endfor %}
  </rootNode>
  {% endif %}
</workflowDescriptors>
