{%- import "_partials/timeseries_set.xml.j2" as tss -%}
<?xml version="1.0" encoding="UTF-8"?>
<amalgamateModule xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/amalgamateModule.xsd">
  {%- for t in task %}
  <task>
    <maximumCombinedBlobLength unit="{{ t.maximumCombinedBlobLength.unit }}" multiplier="{{ t.maximumCombinedBlobLength.multiplier }}"/>
    {%- for ts in t.timeSeriesSet %}
    {{ tss.render(ts) }}
    {%- endfor %}
  </task>
  {%- endfor %}
</amalgamateModule>
