{%- import "_partials/timeseries_set.xml.j2" as tss -%}
<?xml version="1.0" encoding="UTF-8"?>
<timeSeriesImportRun xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/timeSeriesImportRun.xsd">
{% for imp in import_ %}
  <import>
    <general>
      <importType>{{ imp.general.importType }}</importType>
      {% if imp.general.serverUrl is not none %}<serverUrl>{{ imp.general.serverUrl }}</serverUrl>{% endif %}
      {% if imp.general.folder is not none %}<folder>{{ imp.general.folder }}</folder>{% endif %}
      {% if imp.general.user is not none %}<user>{{ imp.general.user }}</user>{% endif %}
      {% if imp.general.password is not none %}<password>{{ imp.general.password }}</password>{% endif %}
      {% if imp.general.table is not none %}
      <table>
        <locationColumn name="{{ imp.general.table.locationColumn.name }}"/>
        <dateTimeColumn name="{{ imp.general.table.dateTimeColumn.name }}" pattern="{{ imp.general.table.dateTimeColumn.pattern }}"/>
        {% for vc in imp.general.table.valueColumn %}<valueColumn name="{{ vc.name }}" unit="{{ vc.unit }}" parameterId="{{ vc.parameterId }}"/>{% endfor %}
      </table>
      {% endif %}
      {% for fdf in imp.general.fileNameDateTimeFilter %}
      <fileNameDateTimeFilter subFolderLevel="{{ fdf.subFolderLevel }}">
        {% if fdf.timeStep.id is not none %}<timeStep id="{{ fdf.timeStep.id }}"/>{% else %}<timeStep unit="{{ fdf.timeStep.unit }}"{% if fdf.timeStep.multiplier is not none %} multiplier="{{ fdf.timeStep.multiplier }}"{% endif %}/>{% endif %}
        <dateTimePattern>{{ fdf.dateTimePattern }}</dateTimePattern>
        <preFixLength>{{ fdf.preFixLength }}</preFixLength>
        <postFixLength>{{ fdf.postFixLength }}</postFixLength>
      </fileNameDateTimeFilter>
      {% endfor %}
      {% if imp.general.fileNamePatternFilter is not none %}<fileNamePatternFilter>{{ imp.general.fileNamePatternFilter }}</fileNamePatternFilter>{% endif %}
      {% if imp.general.fileNameObservationDateTimePattern is not none %}<fileNameObservationDateTimePattern>{{ imp.general.fileNameObservationDateTimePattern }}</fileNameObservationDateTimePattern>{% endif %}
      {% if imp.general.failedFolder is not none %}<failedFolder>{{ imp.general.failedFolder }}</failedFolder>{% endif %}
      {% if imp.general.backupFolder is not none %}<backupFolder>{{ imp.general.backupFolder }}</backupFolder>{% endif %}
      {% if imp.general.relativeViewPeriod is not none %}<relativeViewPeriod unit="{{ imp.general.relativeViewPeriod.unit }}"{% if imp.general.relativeViewPeriod.start is not none %} start="{{ imp.general.relativeViewPeriod.start }}"{% endif %}{% if imp.general.relativeViewPeriod.end is not none %} end="{{ imp.general.relativeViewPeriod.end }}"{% endif %}{% if imp.general.relativeViewPeriod.startOverrulable is not none %} startOverrulable="{{ 'true' if imp.general.relativeViewPeriod.startOverrulable else 'false' }}"{% endif %}{% if imp.general.relativeViewPeriod.endOverrulable is not none %} endOverrulable="{{ 'true' if imp.general.relativeViewPeriod.endOverrulable else 'false' }}"{% endif %}/>{% endif %}
      <idMapId>{{ imp.general.idMapId }}</idMapId>
      {% if imp.general.unitConversionsId is not none %}<unitConversionsId>{{ imp.general.unitConversionsId }}</unitConversionsId>{% endif %}
      {% if imp.general.missingValue is not none %}<missingValue>{{ imp.general.missingValue }}</missingValue>{% endif %}
      {% if imp.general.importTimeZone is not none %}
      <importTimeZone>
        {% if imp.general.importTimeZone.timeZoneName is not none %}<timeZoneName>{{ imp.general.importTimeZone.timeZoneName }}</timeZoneName>{% endif %}
        {% if imp.general.importTimeZone.timeZoneOffset is not none %}<timeZoneOffset>{{ imp.general.importTimeZone.timeZoneOffset }}</timeZoneOffset>{% endif %}
      </importTimeZone>
      {% endif %}
      {% if imp.general.dataFeedId is not none %}<dataFeedId>{{ imp.general.dataFeedId }}</dataFeedId>{% endif %}
      {% if imp.general.expiryTime is not none %}{% if imp.general.expiryTime.id is not none %}<expiryTime id="{{ imp.general.expiryTime.id }}"/>{% else %}<expiryTime unit="{{ imp.general.expiryTime.unit }}"{% if imp.general.expiryTime.multiplier is not none %} multiplier="{{ imp.general.expiryTime.multiplier }}"{% endif %}/>{% endif %}{% endif %}
      {% if imp.general.skipFirstLinesCount is not none %}<skipFirstLinesCount>{{ imp.general.skipFirstLinesCount }}</skipFirstLinesCount>{% endif %}
    </general>
    {% if imp.startTimeShift is not none %}
    <startTimeShift>
      <parameterId>{{ imp.startTimeShift.parameterId }}</parameterId>
      <relativePeriod{% if imp.startTimeShift.relativePeriod.start is not none %} start="{{ imp.startTimeShift.relativePeriod.start }}"{% endif %}{% if imp.startTimeShift.relativePeriod.end is not none %} end="{{ imp.startTimeShift.relativePeriod.end }}"{% endif %} unit="{{ imp.startTimeShift.relativePeriod.unit }}"{% if imp.startTimeShift.relativePeriod.startOverrulable is not none %} startOverrulable="{{ 'true' if imp.startTimeShift.relativePeriod.startOverrulable else 'false' }}"{% endif %}{% if imp.startTimeShift.relativePeriod.endOverrulable is not none %} endOverrulable="{{ 'true' if imp.startTimeShift.relativePeriod.endOverrulable else 'false' }}"{% endif %}/>
    </startTimeShift>
    {% endif %}
    {% if imp.properties is not none %}
    <properties>
      {% for p in imp.properties.string %}<string key="{{ p.key }}" value="{{ p.value }}"/>{% endfor %}
      {% for p in imp.properties.bool %}<bool key="{{ p.key }}" value="{{ 'true' if p.value else 'false' }}"/>{% endfor %}
    </properties>
    {% endif %}
    {% for tol in imp.tolerance %}<tolerance timeUnit="{{ tol.timeUnit }}" unitCount="{{ tol.unitCount }}" parameterId="{{ tol.parameterId }}"/>{% endfor %}
    {% for ts in imp.timeSeriesSet %}
    {{ tss.render(ts) }}
    {% endfor %}
    {% for eu in imp.externUnit %}
    <externUnit parameterId="{{ eu.parameterId }}" unit="{{ eu.unit }}"{% if eu.cumulativeSum %} cumulativeSum="true"{% endif %}{% if eu.cumulativeMean %} cumulativeMean="true"{% endif %}{% if eu.cumulativeSumIgnoreFirstTimeStep %} cumulativeSumIgnoreFirstTimeStep="true"{% endif %}/>
    {% endfor %}
  </import>
{% endfor %}
</timeSeriesImportRun>
