<?xml version="1.0" encoding="UTF-8"?>
<configUpdateScriptConfig xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/configUpdateScriptConfig.xsd">
  <versionIncrement>{{ versionIncrement | xmlstr }}</versionIncrement>
  <scriptDirectory>{{ scriptDirectory }}</scriptDirectory>
  {%- if failedDirectory is not none %}
  <failedDirectory>{{ failedDirectory }}</failedDirectory>
  {%- endif %}
  {%- if backupDirectory is not none %}
  <backupDirectory>{{ backupDirectory }}</backupDirectory>
  {%- endif %}
  {%- if importMapLayerFilesSettings is not none %}
  <importMapLayerFilesSettings>
    {%- if importMapLayerFilesSettings.failedDirectory is not none %}
    <failedDirectory>{{ importMapLayerFilesSettings.failedDirectory }}</failedDirectory>
    {%- endif %}
    {%- if importMapLayerFilesSettings.backupDirectory is not none %}
    <backupDirectory>{{ importMapLayerFilesSettings.backupDirectory }}</backupDirectory>
    {%- endif %}
  </importMapLayerFilesSettings>
  {%- endif %}
</configUpdateScriptConfig>
