<?xml version="1.0" encoding="UTF-8"?>
<encodedPartitionSequences xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/encodedPartitionSequences.xsd">
  {% for e in encodedPartitionSequence %}<encodedPartitionSequence workflowId="{{ e.workflowId }}" value="{{ e.value }}"/>
  {% endfor %}
</encodedPartitionSequences>
