<?xml version="1.0" encoding="UTF-8"?>
<message xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/logMessage.xsd"{% if userId is not none %} userId="{{ userId }}"{% endif %}{% if topologyNodeId is not none %} topologyNodeId="{{ topologyNodeId }}"{% endif %}{% if areaId is not none %} areaId="{{ areaId }}"{% endif %}{% if templateId is not none %} templateId="{{ templateId }}"{% endif %}{% if eventDate is not none %} eventDate="{{ eventDate }}"{% endif %}{% if eventTime is not none %} eventTime="{{ eventTime }}"{% endif %}>{{ text }}</message>
