<?xml version="1.0" encoding="UTF-8"?>
<systems xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/mcInstall.xsd">
{%- for s in system %}
  <system>
    <database>{{ s.database | dict_to_xml | safe }}</database>
    <mc>{{ s.mc | dict_to_xml | safe }}</mc>
  </system>
{%- endfor %}
</systems>
