<?xml version="1.0" encoding="UTF-8"?>
<webOperatorClient xmlns="http://www.wldelft.nl/fews" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews http://fews.wldelft.nl/schemas/version1.0/webOperatorClient.xsd">
  {% if general is not none %}<general>{{ general | dict_to_xml | safe }}</general>{% endif %}
  {% if components is not none %}<components>{{ components | dict_to_xml | safe }}</components>{% endif %}
</webOperatorClient>
